body {
    background-color: #93dcd8;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: Candara;
}

.inputs {
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;
}

.boton {
    display: flex;
    justify-content: space-around;
}