body {
    background-color: #93dcd8;
    color: #333;
    font-family: Candara;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

form input {
    min-width: 300px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

form button {
    min-width: 300px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}
th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}
td, th {
    background-color: #f2f2f2;
}